<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="updaterPath" value="https://web.gin.g-node.org/G-Node/gin-ui-installers/raw/master/Setup.msi" />
  </appSettings>
  
</configuration>